
{% extends 'template.html.twig' %}

 {% block title %} Formulaire {% endblock %}
  {% block css%}
    {{ parent() }}
    <link rel="stylesheet" href="public\assets\css\main.css">
    {% endblock %}
  


{% block body %}
 {% block reclamation %}
<div class="custom-form-container">
{{form_start(form,{'attr':{'novalidate':'novalidate'}})}}
      <div class="col-md-6 form-group">
    {{ form_label(form.type,"type") }}
    {{ form_widget(form.type) }}
   {{ form_errors(form.type) }}
  </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
       
        {{ form_label(form.name,"name") }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }} 
 </div>
 <br>
        <div class="form-group mt-3">
   {{ form_label(form.description,"description") }}
    {{ form_widget(form.description) }}
   {{ form_errors(form.description) }}
 </div> 
 <br>
  <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center">
        {{ form_widget(form.envoyer) }}
</div>
            
        {{ form_end(form) }}

     </div>

{% endblock %}

{% endblock %} 


