{% extends 'template.html.twig' %}
{% block body %}
    <h1>Réclamations Ajoutées</h1>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    {% if reclamations is not empty %}
        <input type="search" id="myInput" class="form-control pl-6" placeholder="Search reponse"/>

        <table class="table" id="mytable">
            <thead>
                <tr>
                    <th>TYPE</th>
                    <th>Description</th>
                    <th>Supprimer</th>
                    <th>ETAT</th>
                    <th>Réponse</th>
                </tr>
            </thead>
            <tbody>
                {% for reclamation in reclamations %}
                    <tr>
                        <td>{{ reclamation.type }}</td>
                        <td>{{ reclamation.description }}</td>
                        <td>
                            <a href="{{ path('Reclamation_delete', {'id': reclamation.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette réclamation ?')">Supprimer</a>
                        </td>
                        <td>
                            {% if reclamation.etat == 0 %}
                                Non répondu
                            {% else %}
                                Répondu
                            {% endif %}
                        </td>
                        <td>
                            {% if reclamation.reponses is not empty %}
                                {% for reponse in reclamation.reponses %}
                                    {{ reponse.description }}
                                    {# Assuming 'description' is a property of Reponse entity #}
                                    {# You can access other properties or methods of Reponse entity here #}
                                {% endfor %}
                            {% else %}
                                {% if reclamation.etat == 0 %}
                                    <a href="{{ path('add_Rep', {'id': reclamation.id}) }}" class="btn btn-primary">Répondre</a>
                                {% else %}
                                    Aucune réponse
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune réclamation ajoutée pour le moment.</p>
    {% endif %}
{% endblock %}
